

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    
    --font-color: #f0f0f0;
    --font-black-color: #0f0f0f;
    --brand-dark-green: #013d24dd;
    --brand-soft-green: #00a47b;
    --brand-soft-green-opacitiy: #00a47b45;
    --brand-dark-green-opacity: #013d2455;
    --brand-third-color: #ffc300;
    --brand-third-color-opacity: #ffc30088;
    background-color: var(--font-color);
    
}
.material-icons {
    font-size: 1.4rem !important;
}
/* ------- HEADER STARTS ------- */
header {
    height: 5.5rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5rem 4rem;
    background-color: var(--font-color);
    
    
    z-index: 10;
    
}
header:hover {
    box-shadow: 0 0.1px 20px -15px var(--font-black-color);
}
header .ofertas {
    height: 1.5rem;
    width: 100%;
    background-color: var(--brand-dark-green);
}
header .ofertas h2 {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; 
    color: var(--font-color);
}
header .oficial-header {
    height: 100%;
    width: 100%;
    background-color: var(--font-color);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}
header .oficial-header .oficial-header__h1-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
header .oficial-header .oficial-header__h1-container__ah1 {
    text-decoration: none;
    cursor:default;
}
header .oficial-header h1 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: var(--font-black-color);
    text-wrap: nowrap;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15dvw;
}

header .oficial-header .oficial-header__nav-bar {
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 15dvw;
}

header .oficial-header .oficial-header__nav-bar .oficial-header__nav-bar__ah3 {
    margin: 0 0.8rem;
    height: 26px;
    color: var(--font-black-color);
    text-decoration: none;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}
header .oficial-header .oficial-header__nav-bar .oficial-header__nav-bar__ah3:is(:visited, :hover, :focus, :active) {
    border-bottom: 1px solid var(--font-black-color);
}
header .oficial-header .oficial-header__nav-bar h3 {
    color: var(--font-black-color);
    font-weight: 300;
    font-size: 1.1rem;
    
}
header .oficial-header .oficial-header__nav-bar a:last-of-type {
    padding: 0 0.8rem;
    height: 26px;
    color: var(--font-black-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .oficial-header .oficial-header__nav-bar a .material-icons {
    color: var(--font-color);
    text-shadow:
    1px 1px 0 var(--font-black-color), /* superior derecha */
    -1px 1px 0 var(--font-black-color), /* superior izquierda */
    -1px -1px 0 var(--font-black-color), /* inferior izquierda */
    1px -1px 0 var(--font-black-color); /* inferior derecha */
}

header .oficial-header__checkbox-button {
    display: none;
}

/* ------- HEADER ENDS ------- */

/* ------- PHOTOSCROLL STARTS ------- */

.photoscroll {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoscroll .photoscroll__container {
    aspect-ratio: 16 / 9;
    max-width: 70%;
    margin-top: 1rem;
    width: 80%;
    overflow: hidden;
    position: relative;
    
}
.photoscroll .photoscroll__container:hover {
    box-shadow: 0 0.1px 20px -15px var(--font-black-color);
}
.photoscroll .photoscroll__container .photoscroll__container-2{
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    animation: slider 15s infinite linear;
    
}
.photoscroll .photoscroll__container div {
    width: 100%;
    height: 100%;
    
}
.photoscroll .photoscroll__container div .photoscroll__container__img {
    width: 100%;
    height: 100%;
}

/* ------- PHOTOSCROLL ENDS ------- */

/* ------- CATEGORIAS STARTS ------- */

.categorias {
    max-width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categorias__selectores a:is(:link, :visited, :hover, :focus) {
    text-decoration: none;
    color: var(--font-black-color);
}
.categorias__selectores {
    width: 70%;
    max-width: 1200px;
    height: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.categorias__selectores__container {
    width: 15%;
    overflow: hidden;
    container-name: container;
    container-type:inline-size;
    transition: width 0.2s ease-in;
}
.categorias__selectores__container:hover {
    width: 30%;
}
.categorias__selectores__container h3 {
    width: 100%;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;

    display: flex;
    justify-content: center;
}
.categorias__selectores__container h3 a {
    text-wrap: nowrap;
    
}
.categorias__selectores__container__h3-a2 {
    padding-left: 0.5rem;
}
@container container (max-width: 150px) {
    .categorias__selectores .categorias__selectores__container .categorias__selectores__container__h3-a2 {
        display: none;
    }
    .categorias__selectores__container:hover .categorias__selectores__container__h3-a2{
        display: block;
    }
}
@container container (max-width: 80px) {
    .categorias__selectores__container h3 {
        font-size: 0.6rem;
        font-weight: 500;
    }
}

/* ------- CATEGORIAS ENDS ------- */


/* ------- DESTACADOS STARTS ------- */
.destacados {
    max-width: 100%;
    height: 100%;
    background-color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.destacados .destacados__container {
    width: 70%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.destacados .destacados__container .destacados__container__div-img {
    width: 100%;
    background-color: var(--font-color);
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.destacados .destacados__container:hover  > :not(:hover) {
    opacity: 0.7;
    filter: blur(1px);
    
}
.destacados .destacados__container .destacados__container__div-img a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid transparent;
    color: inherit;
    margin: 0.2rem;
    overflow: hidden;
    
}
.destacados .destacados__container .destacados__container__div-img .destacados__container__div-img__a-img {
    width: 90%;
    border-radius: 20px;
}
.destacados .destacados__container .destacados__container__div-img img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 1;
    transition: box-shadow 1s ease-out;
}
.destacados .destacados__container .destacados__container__div-img:hover img {
    scale: 1.2;
}
.destacados .destacados__container .destacados__container__div-img .destacados__container__div-img__ah4:hover {
    border-bottom: 1px solid var(--font-black-color);
}
.destacados .destacados__container .destacados__container__div-img .destacados__container__div-img__ah4 h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 100;
}
.destacados .destacados__container .destacados__container__div-img p {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0.2rem;
}
.destacados .destacados__container .destacados__container__div-img .add-to-cart {
    display: block;
    min-width: fit-content;
    text-wrap: nowrap;
    width: 50%;
    min-height: fit-content;
    height: 2rem;
    background-color:var(--brand-dark-green);
    border-radius: 20px;
    margin: 0.2rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--brand-dark-green);
    transition: ease-out 0.4s;
}
.destacados .destacados__container .destacados__container__div-img .add-to-cart:hover {
    background-color: var(--brand-soft-green);
    border: 1px solid var(--brand-soft-green);
    width: 90%;
    
    
}
.destacados .destacados__container .destacados__container__div-img .add-to-cart p{
    font-size: 0.7rem;
    font-weight: 100;
    color: var(--font-color);
    text-transform: uppercase;
}




/* ------- DESTACADOS ENDS ------- */

/* ------- NOSOTROS STARTS ------- */

.nosotros {
    margin: 5rem 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.nosotros > div {
    width: 70%;
    max-width: 1200px;
    aspect-ratio: 16 / 5;
    display: flex;
    justify-content: center;
    object-fit: contain;
    overflow: hidden;
    margin: 0;
    
}
.nosotros > div:hover {
    opacity: 1;
    z-index: 10;
}
.nosotros .nosotros__about-us {
    border-radius: 40%;
    background-color: var(--brand-dark-green);
    box-shadow: 3px 3px 10px color-mix(in oklab, var(--brand-dark-green) 50%, var(--font-black-color) 50%);
    opacity: 0.6;
    animation: about-us linear both;
    animation-timeline: view(block);
    animation-range: cover 15% cover 80%;
    
}
@keyframes about-us {
    0% { 
    }
    30% {
        scale: 1.2;
        opacity: 1;
        border-radius: 8% 38% 45% 23%;
    }
    100% {
        scale: 1.1;
        opacity: 0.8;
    }
} 
.nosotros .nosotros__our-mission {
    border-radius: 40%;
    background-color: var(--brand-soft-green);
    box-shadow: 3px 3px 10px color-mix(in oklab, var(--brand-soft-green) 70%, var(--font-black-color) 30%);
    opacity: .6;
    animation: our-mission linear both;
    animation-timeline: view(block);
    animation-range: cover 15% cover 80%;
}
@keyframes our-mission {
    0% { 
    }
    30% {
        scale: 1.2;
        opacity: 1;
    }
    100% {
        border-radius: 35% 10% 18% 25%;
        scale: 1.1;
        opacity: .8;
    }
} 
.nosotros .nosotros__our-history {
    background-color: var(--brand-third-color);      
    border-radius: 40%;
    box-shadow: 5px 5px 10px color-mix(in oklab, var(--brand-third-color) 50%, var(--font-black-color) 50%);
    opacity: .6;
    animation: our-history linear both;
    animation-timeline: view(block);
    animation-range: cover 15% cover 80%;
}
@keyframes our-history {
    0% { 
    }
    30% {
        scale: 1.2;
        opacity: 1;
    }
    100% {
        scale: 1.1;
        opacity: .8;
        border-radius: 12% 46% 35% 15%;
    }
} 
.nosotros div span {
    width: 50%;
    display: flex;
}
.nosotros div:first-of-type span, .nosotros div:last-of-type span {
    justify-content: end;

}
.nosotros div span img {
    width: 90%;
    aspect-ratio: 16/9;
    
    transition: all 1s cubic-bezier(0,.84,.75,.82);
}

.nosotros div:hover span img {
    width: 100%;
}
.nosotros .nosotros__about-us span img {
    border-radius: 45% 40% 30% 18%;
}
.nosotros .nosotros__our-mission span img {
    border-radius: 15% 20% 33% 25%;
}
.nosotros .nosotros__our-history span img {
    border-radius: 38% 25% 18% 26%;
}
.nosotros div div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.nosotros .nosotros__about-us div h4 {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: 1rem;
    text-transform: uppercase;
    transform: translateX(10%);
    
    transition: all 1s cubic-bezier(0,.84,.75,.82);
}
.nosotros .nosotros__about-us:hover div h4 {
    transform: translateX(50%);
    font-size: 1.4rem;
    font-weight: 500;
}
.nosotros .nosotros__about-us div p {
    font-size: 0.9rem;
    width: 80%;
    transform: translateX(25%);
    transition: all 1.5s cubic-bezier(0,.84,.75,.82);
    
}
.nosotros .nosotros__about-us:hover div p {
    transform: translateX(10%);
}
.nosotros div div h5 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1rem;
    text-transform: uppercase;
    transition: all 1s cubic-bezier(0,.84,.75,.82);
}
.nosotros div:hover div h5 {
    font-size: 1.1rem;
    font-weight: 500;
}
.nosotros div div p {
    font-size: 0.9rem;
    width: 80%;
    text-wrap: pretty;
    text-align: start;
    transition: all .5s cubic-bezier(0,.84,.75,.82);
}
.nosotros div:nth-of-type(2):hover div h5 {

    transform: translateX(-10%);
}
.nosotros div:nth-of-type(2):hover div p {
    transform: translateX(10%);
}
.nosotros div:last-of-type:hover div h5 {
    transform: translateX(15%);
}
.nosotros div:last-of-type div p {
    transform: translateX(25%);
}

.nosotros div:last-of-type:hover div p {
    transform: translateX(5%);
}

/* ------- NOSOTROS ENDS ------- */

/* ------- MEDIA QUERIES STARTS ------- */
@media (max-width: 900px) {
    body {
        background-color: var(--font-color);
    }
    header {
        height: 5.5rem;
        grid-template-rows: 1.5rem 4rem;
        box-shadow: none;
    }
    header .ofertas h2 {
        font-size: 0.9rem;
    }
    header .oficial-header {
        height: 4rem;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem;
        position: relative;
        
    }
    header:has(input[type="checkbox"]:checked) .oficial-header {
        height: 4rem;
    }
    header .oficial-header .oficial-header__h1-container {
        width: 100%;
        align-items: center;
        height: 4rem;
        
    }
    header .oficial-header .oficial-header__nav-bar {
        display: none;
        
    }
    header .oficial-header h1 {
        width: 100%;
        font-size: 1.3rem;
        margin-left: 7dvw;
        padding: 0;
    }
    header .oficial-header__checkbox-button {
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    header .oficial-header__checkbox-button__checkbox-container {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        padding: 0;
        margin-right: 7dvw;
        z-index: 10;
    }
    header .oficial-header__checkbox-button__checkbox-container:hover {
        background-color: var(--brand-dark-green-opacity);
    }
    header .oficial-header__checkbox-button input {
        position: absolute;
        top: 0;
        margin: 0;
        visibility: hidden;
    }
    header .oficial-header .oficial-header__nav-bar .oficial-header__nav-bar__ah3:is(:visited, :hover, :active, :focus) {
        border-bottom: 1px solid transparent;
    }
    header:has(input[type="checkbox"]:checked) .oficial-header__nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2rem;
        padding: 0;
        position: absolute;
        top: 3.5rem;
        background-color: var(--font-color);
        animation: aparecer .5s ease both;
        
    }
    header .oficial-header .oficial-header__nav-bar .oficial-header__nav-bar__ah3 {
        display: flex;
        align-items: center;
    }

    header .oficial-header .oficial-header__nav-bar a:last-of-type {
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
    }
    header .oficial-header .oficial-header__nav-bar h3 {
        font-size: 0.9rem;
    }
    
    .photoscroll .photoscroll__container {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .categorias .categorias__selectores, .destacados .destacados__container-img {
        width: 100%;
        justify-content: space-evenly;
    }
    .destacados .destacados__container {
        width: 100%;
        justify-content: center;
    }
    .destacados .destacados__container .destacados__container__div-img .destacados__container__div-img__a-img {
        width: 100%;
    }
    .destacados .destacados__container .destacados__container__div-img p {
        font-size: 0.9rem;
    }
    .nosotros {
        max-width: 100%;
        width: 100%;
    }
    
    .nosotros > div {
        height: 350px;
        width: 100%;
        aspect-ratio:  5 / 16;
        margin: -1% 0;
    }
    @keyframes about-us {
        0% { 
        }
        30% {
            scale: 1;
            opacity: 1;
            aspect-ratio: 5 / 16;
        }
        100% {
            scale: 1;
        }
    } 
    @keyframes our-mission {
        0% { 
        }
        30% {
            scale: 1;
            opacity: 1;
            aspect-ratio: 5 / 16;
        }
        100% {
            scale: 1;
        }
    }
    @keyframes our-history {
        0% { 
        }
        30% {
            scale: 1;
            opacity: 1;
            aspect-ratio: 5 / 16;
        }
        100% {
            scale: 1;
        }
    } 
    .nosotros div span {
        max-width: 480px;
    }
    .nosotros .nosotros__about-us div h4 {
        transform: translateX(30%);
    }
    .nosotros .nosotros__about-us div p {
        transform: translateX(25%);
    }
    .nosotros div:nth-of-type(2):hover div h5 {
        transform: translateX(-5%);
    }
    .nosotros div:nth-of-type(2) div p {
        transform: translateX(-15%);
    }
    .nosotros div:nth-of-type(2):hover div p {
        transform: translateX(5%);
    }
    .nosotros div:last-of-type:hover div h5 {
        transform: translateX(15%);
    }
    .nosotros div:last-of-type div p {
        transform: translateX(25%);
    }
    .nosotros div:last-of-type:hover div p {
        transform: translateX(10%);
    }
}

@media (max-width: 550px) {
    .categorias {
        padding: 0.5rem 0;
    }
    .categorias__selectores .categorias__selectores__container{
        display: flex;
        justify-content: center;
    }
    .categorias__selectores .categorias__selectores__container:hover {
        width: 40%;
    }
    .categorias__selectores .categorias__selectores__container h3{
        width: min-content;
        
    }
    .destacados .destacados__container .destacados__container__div-img a {
        text-wrap: nowrap;
    }
    .destacados .destacados__container .destacados__container__div-img .destacados__container__div-img__ah4 h4 {
        font-size: 0.8rem;
    }
    .destacados .destacados__container .destacados__container__div-img .add-to-cart p {
        font-size: 0.5rem;
    }
    
}
@media (max-width:650px) {
    
    .nosotros > div {
        position: relative;
        width: 100%;
        height: 400px;
    }
    .nosotros div span {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transition: all 1s cubic-bezier(0,.84,.75,.82);
    }
    .nosotros div span img{
        width: 100%;
        opacity: 0.5;
        transition: all 1s cubic-bezier(0,.84,.75,.82);

    }
    
    .nosotros div:hover span img {
        opacity: 1;
    }
    .nosotros div:first-of-type:hover span {
        left: 5%;
    }
    .nosotros div:nth-child(2) span {
        left: 35%;
    }
    .nosotros div:nth-child(2):hover span {
        left: 30%;
    }
    
    .nosotros div:last-of-type span {
        top: 60%;
    }
    
    .nosotros div:hover span{ 
        top: 36%;
    }   
    .nosotros div:last-of-type:hover span {
        left: 3%;
        top: 42%;
    }
    .nosotros div div {
        width: 80%;
        height: 60%;
        
        z-index: 10;
    }
    .nosotros .nosotros__about-us div h4 {
        width: 100%;
        height: 40%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        transform: translateX(30%);
    }
    .nosotros .nosotros__about-us:hover div h4 {
        transform: translateX(35%);
        
        font-size: 1.3rem;
        font-weight: 300;
    }
    .nosotros .nosotros__about-us div p {
        height: 60%;
        width: 90%;
        transform: translateX(10%);
        transform: translateY(-15%);
    }
    .nosotros .nosotros__about-us:hover div p {
        transform: translateX(5%);
        transform: translateY(-35%);
    }
    .nosotros div div h5 {
        height: 40%;
        width: 100%;
    }
    .nosotros div:hover div h5 {
        font-size: 1rem;
        font-weight: 300;
        
    }
    .nosotros div:nth-of-type(2) div h5 {
        transform: translateX(15%);
        align-items: center;
    }
    .nosotros div:nth-of-type(2):hover div h5 {
        transform: translateX(-10%);
        transform: translateY(20%);
    }
    
    .nosotros div:nth-of-type(2) div p {
        transform: translateX(10%);
        
        height: 60%;
        
        transform: translateY(10%);
    }
    .nosotros div:nth-of-type(2):hover div p {
        transform: translateX(-20%);
        
        transform: translateY(-20%);
    }
    
    .nosotros div:last-of-type div h5 {
        align-items: center;
        transform: translateX(-5%);
        
    }
    .nosotros div:last-of-type:hover div h5 {
        transform: translateX(15%);
        transform: translateY(-10%);
    }
    .nosotros div:last-of-type div p {
        transform: translateX(15%);
        height: 60%;
        
    }

    .nosotros div:last-of-type:hover div p {
        transform: translateX(5%);
        
        transform: translateY(-35%);
    }
}

@media (max-width: 380px) {
    .categorias__selectores {
        position: relative;
    }
    .categorias__selectores:has(div:hover) .categorias__selectores__container {
        width: 0;
    }
    .categorias__selectores .categorias__selectores__container:hover {
        width: 100% !important;
    }

    .categorias__selectores .categorias__selectores__container h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
    }
}
@media (max-height: 365px), (max-width: 420px) {
    header {
        height: 4rem;
        grid-template-rows: 4rem;
    }
    header .ofertas {
        display: none;
        
    }
}

/* ------- MEDIA QUERIES ENDS ------- */

/* ------- ANIMATIONS STARTS ------- */

@keyframes aparecer {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}


@keyframes slider {
    0% {left: 0;}
    8%{left: 0;}
    10% {left: -100%;}
    35%{left: -100%;}
    37%{left: -200%;}
    62%{left: -200%;}
    64% {left: -300%;}
    89%{left: -300%;}
}

/* ------- ANIMATIONS ENDS ------- */


footer {
    height: 30dvh;
    width: 100%;
    background-color: blue;
    
    border: 1px solid black;
}